{% set title = "Produits" %}

{% extends 'base.html.twig' %}

{% block body %}
<main class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for project in projects %}
                <div class="column is-4">
                    <div class="content">
                        <h1><a href="{{ path('project_page', {'id': project.id}) }}">{{ project.title }}</a></h1>
                        {{ project.content|raw }}
                    <img src="{{ project.image }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}